@import "src/assets/styles/variables.scss";

.pageWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.0rem;
  min-height: 40.0rem;
}

.appBlock {
  margin: 0 auto;
  margin-top: 4rem;
  border: 1px solid black;
  padding: 1rem;
}

.titleWrap {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .title {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: map-get($color, deepBlue);
  }
}

.controlsWrap {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .controlInfosWrap {
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .controlTotal {
      margin-left: 1.5rem;
      font-size: 1.3rem;
      label {
        color: map-get($color, grayBase);
      }
      span {
        margin-left: 5px;
      }
    }

    .controlSortBy {
      margin-left: 1.5rem;
      font-size: 1.3rem;
      label {
        color: map-get($color, grayBase);
      }
      span {
        margin-left: 5px;
      }
    }

    .controlFavorites {
      margin-left: 1.5rem;
      font-size: 1.3rem;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      .iconWrap {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        .icon {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
      .text {
        margin-left: 5px;
      }
    }
  }

  .controlBtnsWrap {
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    & > * {
      margin-right: 1rem;
    }
  }
}

.addFormWrap {
  border: #fecc2f 1px solid;
  .addForm {

  }
}

.listWrap {
  width: 100%;
  .list {
    width: 100%;
    .listItem {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .listItemContent {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        .listItemContentFieldsWrap {
          height: 100%;
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          padding: 5px;
          & > * + * {
            margin-left: 1.2rem;
          }
          @include media(desktop) {

          }
          @include media(tablet) {

          }
          @include media(phone) {
            flex: 1 0 100%;
          }
          .listItemContentField {
            font-size: 1.5rem;
            > label {
              color: map-get($color, grayBase);
            }
            > span {
              margin-left: 5px;
            }
          }
        }
        .listItemBtnsWrap {
          height: 100%;
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          padding: 5px;
          & > * + * {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
